{% load static %}
<title>About Us</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'Invite/photos/icon.png' %}">
{% block AboutUs_style %}
<style>
    
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #666666; 
  border-radius: 10px;
}
    body {
        background: #212121;
        font-family: Impact, Charcoal, sans-serif;
        font-family: "MS Sans Serif", Geneva, sans-serif;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-family: Verdana, Geneva, sans-serif;
        font-family: Arial, Helvetica, sans-serif;
        font-family: Tahoma, Geneva, sans-serif;
      }
  
      h1,h2{
        font-family: Copperplate Gothic Light;
      }
      .vd{
        max-width:200px;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        border-radius:50%;
      }
      .vd:hover{
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
      }
      img{
        max-width:200px;
        border-radius:50%;
      }

.info-story-container{
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
        border:none;
        margin-top:30px;
        margin-left:145px;
        margin-right:145px;
        margin-bottom:40px;
        padding-left:110px;
        padding-right:110px;
        padding-bottom:50px;
        padding-top:60px;
}

    h1,h2{
        font-size:30px;
        word-spacing:5px;
        color:#008ae6;
    }
    p{
        font-weight:200;
        word-spacing:5px;
        color:white;
    }
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        z-index: -1;
      }
      .copyright{
        text-align:center;
        color:#008ae6;
      }
     
</style>
{% endblock  %}

{% block AboutUs %}
{% comment %} background="{% static 'Invite/photos/kepler444.jpg' %}" <img src="{% static 'Invite/photos/p.png' %}">{% endcomment %}
<body>
    
    <main>
        <video autoplay muted loop id="myVideo">
            <source src="{% static 'Invite/video/space.mp4' %}" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
          
        <div class="info-story-container">
            <center><h1 class="text-center" style="font-size:35px;">V17D00</h1></center>
            <h2 id="div1">Big Bang Theory</h2>
            <p>According to the Big Bang Theory our universe is 13.8 billion years and, and that describes how the universe expanded from an initial state of high density
                and temperature by offering a detailed explanation of observed phenomena, radiation an abundance of light elements and Lange-Scale Structures. </p>
            <p>The Big Bang Theory States that the universe began to cool down sufficiently in order to allow the formation of particles that would later become atoms after it’s initial phase of expansion 
                Primordial elements Hydrogen, Helium. And lithium – condensed through gravity that farm and early Stars and galaxies.</p>
            
            <h2>Hypothetical Astronomical Story of VInvite17</h2>
            <center><img class="vd" src="{% static 'Invite/photos/p.png' %}"></center>
            <p>As per the research of Big Bong theory, many stars, planets, galaxy were formed from a cloud of gas and dust called the solar nebula and galaxies form out of Immense Clouds of gas that collapse and rotate as they evolve, stars form within them. 
              Entire galaxies can collide, changing them appearance. </p>
            <p>At that time there were many planets and stars were formed so those time one planet had been forming been Which is called V17D00. This planet is formed 2.6 billion years later after the Big Bang.This planet is so glecious with blue Color, which is look like a diamond after the few billion later the moment of its creation, 
                it was clean that this planet was special. The blue hues of its atmosphere and the way it’s Continents were arranged hinted ad something remarkable laying in wait.</p>
            <p>As time passed, the V17D00 planet began to develop an advanced civilization that was far ahead of anything. That humanity had even seen. They had mastered technologies that were beyond any creations of the universe, and their cities were marvels of engineering and design. Intricate networks of roads and transportation and energy sources that the universe Very essence of the universe. The inhabitants of V17D00 were a technologically advanced Species and their name were also unique. Suppose if new species is born in V17D00 planet then their named should be Start from ‘V’ letter and after the ‘V’ letter letter/symbol, a single numerical number is assigned to The Species which day that were born today then their named could be ‘Vo1eous’ Where ‘eous/ious’ represent ‘Universe is gracious which with
                 ‘V17eous’ which represent that all Species are part of its planet and Entire galaxies. They had colonized many other planets and their Spacecrafts/ships are based on time machine so they roamed the galaxy in search of new discovery and Civilization of new headquarters in new planets</p>
            <p>They took great Care to presence it’s nationl wonders and to protect the delicate balance of its ecosystem. All the “VNumeous” inhabitants believed their planet was a gift from the universe and that it was their duty to care for it and to pass it on to future generations</p>
            <p>The Spacecraft of the V17D00 planet had been Exploring the universe for the many years, Seeking out for new planets and then entities.In that planet there were a ‘Universal Advanced Research center’ where their member of that center ‘V17eous’ had been working as Scientist to discover new planet, Solan System And galaxies.</p>
            <p>One day from the research Centre they received a transmission from an extra-terrestrial planet which know as ‘Earth’. The astronauts of V17D00 were more excited to civilize a new headquarter on earth and 
                they set out on a journey to earth. The spacecraft uses 'WARP Drive technology' so that spacecraft travelling at 'Superluminal Speeds' to reach out earth planet and that Superluminal Speeds is more greater than the speeds of the light.</p>
            <p>When they reached and see the earth planet, their Spacecraft gives more information about the earth planet like earth is 4.543 billion years old and their Solar System is 4.571 billion years old and
                 when they are comparing their V17D00 planet age to the earth planet they get an information Where V17D00 is 11.2 billion years old.</p>
            <p>When The Spacecraft is entering inside the orbit of the earth and they see then humanity and then civilization ‘V17eous’ Said “earth planet Humanity is so beautiful", but V17eous goal is only that is just needed to build headquarter. Headquarter inside the planet. 
                And then V17eous uses small percentage of Gamma-ray burst to destroy some part of biggest cities of earth planet and he also uses some nuclear attack to destroy atmosphere of the planet. Entire planet was going around Dark layer where Sun lights cannot be comes on the earth environment.</p>
            <p>After few days ago V17eous developed Advanced Headquarter where these Size is more there size is more greater than human cities. It has very big tower Structure and all these building ore located in Center of the water where headquarter are developed And V17eous Send Some messages to 
                the top big search Engine company to collaborate and share their knowledge and technology to build the VInvite (Search Engine) So this VInvite is gift from V17eous for earth’s human being.</p>
            <h2>Why the Search Engine Named is VInvite17</h2>
            <p>‘VInvite17’ or ‘VInvite’ is Search Engine we already know so basically ‘V’ letter represent ‘Vishal’ as well as the ‘Entire World’ and ‘17’ represent Vishal’s favourite sport’s personality batsman ‘Ab de villiers’ so that’s why this software is named as ‘VInvite17’.</p>
        </div>
        
    </main>


    <div class="copyright">© 2023 VInvite17</div>
<div class="copyright"><img src="{% static 'Invite/photos/B-New-logo.png' %}" alt=""></div>

</body>
{% endblock  %}