{% load static %} {% block InfoPhoto_style %}
<link rel="stylesheet" href="{% static 'Invite/css/InfoPhoto.css' %}" />

<style>
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666666; 
    border-radius: 10px;
  }
  
  
  /* style the info photo */
  
  .WebPhotos-Alignment {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .photo-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 240px);
    {% comment %} grid-row-gap: 1.5vw;
    grid-column-gap: 1.5vw; {% endcomment %}
    align-items: center;
  }
  
  .photo-container > .myImg {
    max-width: 400px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .myImg:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
  
</style>


{% endblock %}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"
  integrity="sha512-Eezs+g9Lq4TCCq0wae01s9PuNWzHYoCMkE97e2qdkYthpI0pzC3UGB03lgEHn2XM85hDOUF6qgqqszs+iXU4UA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
>
</script>

{% if NUM_All_ImageLinkContainer %}
<p id="HT-W">Space Travel Speed: {{final_execution_time}} to Captured {{request.user}} Cool {{NUM_All_ImageLinkContainer}} Visuals</p>
{% else %}
<p id="HT-W">Space Travel Speed: {{final_execution_time}} to Captured {{request.user}} Cool {{NUM_All_ImageLinkContainer}} Visuals</p>
{% endif %}

<div class="WebPhotos-Alignment">
  {% if All_ImageLinkContainer %}
  {% for Each_All_ImageLinkContainer in All_ImageLinkContainer %}
  <div class="photo-container">
    <img class="myImg" src="{{Each_All_ImageLinkContainer}}">
  </div>
  {% endfor %}
  {% else %}
  <img src="{% static 'Invite/photos/pas.jpg' %}" alt="" style="max-width: 200px; border-radius:50%"  title="vishal">
  {% endif %}
</div>

<script>
  const ImagdragArea = document.querySelector(".photo-container");
  new Sortable(ImagdragArea, {
    animation: 350,
  });
</script>
