   /* width */
   ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666666; 
    border-radius: 10px;
  }

.main-Business-container{
    margin-left: 2rem;
}
h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #fff;
}
.main-Business-container .Advert-Container .Banner{
    margin-left: 9rem;
    max-width:40%;
    border-radius: 10px;

}

/* style the trending business new */

.Business {
    padding: 10px;
    background-color: #1c1c1c;
    border-radius: 10px;
    display: flex;
    max-width: 100%;
    margin: 10px;
    overflow: hidden;
    width: 720px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  .Post-preview {
    background-color: #1c1c1c;
    /* padding: 30px; */
    max-width: 200px;
  }
  .Post-info {
    background-color: #1c1c1c;
    position: relative;
    width: 100%;

  }
  .Post-preview .B-Post-Img{
    max-width: 80%;
    border-radius: 10px;
  }

.Post-info .B-Post-heading a{
    font-size:18px;
    color: #eee4e4;
    font-family: Bahnschrift SemiBold;
    text-decoration: none;
    /* margin: 0; */
}

.Post-info .B-Post-date{
    font-size: 12px;
    margin-top: 3px;
    font-weight: lighter;
    color: #fff;
}

.Post-info .B-Post-desc{
    font-size: 15px;
    margin-top: 3px;
    font-family: Comic Sans MS;
    color: #666666;
}
/* 
  style the top news */

  .Top-Business {
    padding: 10px;
    background-color: #1c1c1c;
    border-radius: 10px;
    display: flex;
    max-width: 60%;
    margin: 10px;
    overflow: hidden;
    width: auto;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  .T-Post-preview {
    padding: 10px;
    background-color: #1c1c1c;
    /* padding: 30px; */
    max-width: 100%;
  }
  .T-Post-info {
    padding: 10px;
    background-color: #1c1c1c;
    position: relative;
    width: 100%;
  }
  .T-Post-preview .T-Post-Img{
    max-width: 100px;
    border-radius: 10px;
  }

.T-Post-info .T-Post-category a{
    font-size: 12px;
    font-family: Candara;
    font-weight: bolder;
    color:#eee4e4;
    text-decoration: none;
}

.T-Post-info .T-Post-heading{
    margin-top: 5px;
    font-size: 13px;
    color: #666666;
    font-family:Lucida Sans;
}