
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #666666; 
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

/* Set height of body and the document to 100% */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #212121;
  color: #4d4d4d;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 8%;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 60px 0;
  height: 100%;
}

@media screen and (max-width: 500px) {
  /* Style tab links */
  .tablink {
    background-color: #212121;
    color: #4d4d4d;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 16px;
    font-size: 17px;
    width: 30%;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 60px 0;
    height: 100%;
  }

  #HT-W {
    color: #666666;
    font-size: 6px;
    font-weight: bold;
    text-align: left;
  }

  .WebLink-Container {
    margin: 0;
  }

  .WebLink-Container .data-container {
    /* margin-left: 1rem; */
    border: none;
    background-color: #1c1c1c;
    max-width: 200px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 15px 15px 32px 15px;
    border-radius: 20px;
    margin-bottom: 18px;
  }

  .data-container .data-header h3 {
    color: #ffffff;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 12px;
  }

  .data-container .data-link a {
    color: #008ae6;
    font-family: Helvetica;
    font-weight: lighter;
    text-decoration: none;
    font-size: 7px;
  }

  .data-container .data-link {
    margin-top: 5px;
  }

  .data-container .data-para p {
    color: #666666;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 4px;
  }

  .data-container .data-para {
    margin-top: 3px;
  }
}

@media screen and (max-width: 767px) {
  /* Style tab links */
  .tablink {
    background-color: #212121;
    color: #4d4d4d;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 16px;
    font-size: 17px;
    width: 60%;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 60px 0;
    height: 100%;
  }

  #HT-W {
    color: #666666;
    font-size: 6px;
    font-weight: bold;
    margin-left: 30px;
  }

  .WebLink-Container {
    margin: 0;
  }

  .WebLink-Container .data-container {
    /* margin-left: 1rem; */
    border: none;
    background-color: #1c1c1c;
    max-width: 200px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 15px 15px 32px 15px;
    border-radius: 20px;
    margin-bottom: 18px;
  }

  .data-container .data-header h3 {
    color: #ffffff;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 12px;
  }

  .data-container .data-link a {
    color: #008ae6;
    font-family: Helvetica;
    font-weight: lighter;
    text-decoration: none;
    font-size: 7px;
  }

  .data-container .data-link {
    margin-top: 5px;
  }

  .data-container .data-para p {
    color: #666666;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 4px;
  }

  .data-container .data-para {
    margin-top: 3px;
  }
}

.tablink:hover {
  background-color: #212121;
  color: #008ae6;
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* underline hover animation */
.tablink:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.tablink:hover:after {
  background-color: #008ae6;
  color: #008ae6;
  transform: scaleX(1);
  transform-origin: bottom left;
}

#webl {
  background-color: transparent;
}
#webp {
  background-color: transparent;
}

/* style of infoweb area */

#HT-W {
  color: #666666;
  font-size: 13px;
  font-weight: bold;
  margin-left: 2rem;
}



